<h2>PLEASE LOGIN!</h2>

<form action="/login" method="POST">
    <p>
        <input type="text" id="client_username" name="username" placeholder="Username">
    </p>

    <p>
        <input type="email" id="client_email" name="email" placeholder="Email Address">
    </p>

    <p>
        <input type="password" id="client_password" name="password" placeholder="password">
    </p>
    
    <input type="submit" value="Login">
    <p class="message">Not Registered? <a href="/register">Register Now!</a></p>
</form>