<h2>OUR MISSION</h2>
<p>Ensuring that the wait for your drink is never longer than the time
it takes to launch an app.</p>

<h2>What is Drinkshub?</h2>
<p>Developed by AwesomeBar, Inc. Drinkshub aims to be a leader
in automated service at restaurants and bars globally.</P>
<p>Please drink responsibly.</p>